.logo {
    display: inline-block;
    max-width: 66.666%;
    @include rem-fallback(min-width, $scale-12);

    @include mq(s) {
        display: inline-block;
        max-width: 50%;
        padding-right: 2.5%;
        @include rem-fallback(min-width, $scale-12);
    }

    @include mq(xl) {
        @include rem-fallback(margin-left, -$scale-n8);
        width: 23.333%/80%*100%;
        max-width: 100%;
    }
}