nav.primary {
    display: none;

    @include mq(xl) {
        display: block;
        float: right;
        clear: right;
        padding-right: 10%;
        @include rem-fallback(height, 13.257);

        ul {
            margin-top: 0;
            @include rem-fallback(padding, $scale-8 - $scale-0, 0, $scale-8);
        }

        li {
            float: left;

            a {
                display: block;
                @include rem-fallback(margin, 0, $scale-0);
                @include rem-fallback(padding, $scale-0, 0);
            }

            &:first-child a {
                margin-left: 0;
            }

            &:last-child a {
                margin-right: 0;
            }
        }
    }
}
