// -------------------------------------------------------------------------------
// colour variables
// http://color.hailpixel.com/#3678B6,222222,FCFCFC,
// -------------------------------------------------------------------------------

$text-base: #222;
$background: #fcfcfc;

$primary: #666;

$discreet: #888;
$contrast: #9b8f8f;

$grey-0: #fff;
$grey-1: #f0f0f0;
$grey-2: #ddd;
$grey-3: #ccc;
$grey-4: #bbb;
$grey-5: #aaa;

$alert: #e78c52;
$success: #9aab44;
$submit: #3678b6;