// -------------------------------------------------------------------------------
// modular scale
// http://modularscale.com/scale/?px1=17&px2=23&ra1=1.5&ra2=0
//
// 17px @ 1:1.5
// 23px @ 1:1.5
// -------------------------------------------------------------------------------

$scale-20: 61.27; /* 980.315px */
$scale-19: 55.263; /* 884.204px */
$scale-18: 40.846; /* 653.543px */
$scale-17: 36.842; /* 589.469px */
$scale-16: 27.231; /* 435.695px */
$scale-15: 24.561; /* 392.979px */
$scale-14: 18.154; /* 290.463px */
$scale-13: 16.374; /* 261.986px */
$scale-12: 12.103; /* 193.642px */
$scale-11: 10.916; /* 174.657px */
$scale-10: 8.086; /* 129.095px */
$scale-9: 7.277; /* 116.438px */
$scale-8: 5.379; /* 86.063px */
$scale-7: 4.852; /* 77.625px */
$scale-6: 3.586; /* 57.375px */
$scale-5: 3.234; /* 51.750px */
$scale-4: 2.391; /* 38.250px */
$scale-3: 2.156; /* 34.500px */
$scale-2: 1.594; /* 25.500px */
$scale-1: 1.438; /* 23.000px */
$scale-0: 1.063; /* 17.000px */
$scale-n1: 0.958; /* 15.333px */
$scale-n2: 0.708; /* 11.333px */
$scale-n3: 0.639; /* 10.222px */
$scale-n4: 0.472; /* 7.555px */
$scale-n5: 0.426; /* 6.815px */
$scale-n6: 0.315; /* 5.037px */
$scale-n7: 0.284; /* 4.543px */
$scale-n8: 0.21; /* 3.358px */
$scale-n9: 0.189; /* 3.029px */
$scale-n10: 0.14; /* 2.239px */
$scale-n11: 0.126; /* 2.019px */
$scale-n12: 0.093; /* 1.493px */
$scale-n13: 0.084; /* 1.346px */