/*
collagraph.com.au stylesheet v1.0

by Luke Bacon and Robert Irish

web: http://collagraph.com.au
email: info@collagraph.com.au
twitter: @_collagraph
*/

@import "reset";

@import "flexslider";

@import "mixins";

/* natural box layout */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.chromeframe {position: absolute; top: 0;}

/* @scale -------------------------------------------------------------- */

/*
	http://modularscale.com/scale/?px1=17&px2=23&ra1=1.5&ra2=0

	17px @ 1:1.5
	23px @ 1:1.5
*/

$scale-20: 61.27; /* 980.315px */
$scale-19: 55.263; /* 884.204px */
$scale-18: 40.846; /* 653.543px */
$scale-17: 36.842; /* 589.469px */
$scale-16: 27.231; /* 435.695px */
$scale-15: 24.561; /* 392.979px */
$scale-14: 18.154; /* 290.463px */
$scale-13: 16.374; /* 261.986px */
$scale-12: 12.103; /* 193.642px */
$scale-11: 10.916; /* 174.657px */
$scale-10: 8.086; /* 129.095px */
$scale-9: 7.277; /* 116.438px */
$scale-8: 5.379; /* 86.063px */
$scale-7: 4.852; /* 77.625px */
$scale-6: 3.586; /* 57.375px */
$scale-5: 3.234; /* 51.750px */
$scale-4: 2.391; /* 38.250px */
$scale-3: 2.156; /* 34.500px */
$scale-2: 1.594; /* 25.500px */
$scale-1: 1.438; /* 23.000px */
$scale-0: 1.063; /* 17.000px */
$scale-n1: 0.958; /* 15.333px */
$scale-n2: 0.708; /* 11.333px */
$scale-n3: 0.639; /* 10.222px */
$scale-n4: 0.472; /* 7.555px */
$scale-n5: 0.426; /* 6.815px */
$scale-n6: 0.315; /* 5.037px */
$scale-n7: 0.284; /* 4.543px */
$scale-n8: 0.21; /* 3.358px */
$scale-n9: 0.189; /* 3.029px */
$scale-n10: 0.14; /* 2.239px */
$scale-n11: 0.126; /* 2.019px */
$scale-n12: 0.093; /* 1.493px */
$scale-n13: 0.084; /* 1.346px */

/* end @scale */

/* @type -------------------------------------------------------------- */

$sans-stack:  "ff-meta-web-pro", "open sans", sans-serif ;
$serif-stack:  "ff-meta-serif-web-pro", georgia;

body {
	font-family: $sans-stack;
	@include rem-fallback(font-size, $scale-0);
	line-height: 1.4;
}

/* serif elements	 */
p {
	font-family: $serif-stack;
	/* overrides */
	&.lead {
		font-family: $sans-stack;
	}
}

h1, h2, h3 {
	line-height: 1.2;
}

img.logo {
	display: block;
}

h1.logo {
	@include rem-fallback(margin, $scale-0, 0, $scale-3);
	@include rem-fallback(font-size, $scale-5);
	font-weight: 400;
}

.distinct {
	@include rem-fallback(font-size, $scale-2);
	@include rem-fallback(line-height, $scale-3);
}

.discrete {
	@include rem-fallback(font-size, $scale-n1);
}

.details {
	@include rem-fallback(margin-top, $scale-2);
	@include rem-fallback(font-size, $scale-n1);
	letter-spacing: 1px;
	/* Image replace */
	li {
		@include rem-fallback(margin, 0, 0, $scale-n2)
	}
	i {
		text-indent: -9999em;
		display: inline-block;
		font-style: normal;
		width: 1.7rem;
		margin: 0;
		background: transparent left center no-repeat;
		&.icon-e {
			background-image: url('/assets/email-icon.png');
			background-size: 1em auto;
		}
		&.icon-ph {
			background-image: url('/assets/phone-icon.png');
			background-size: auto 1em;
		}
	}
}

h2 {
	@include rem-fallback(padding-top, $scale-3);
	@include rem-fallback(font-size, $scale-0);
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	@include rem-fallback(font-size, $scale-3);
	@include rem-fallback(margin-top, $scale-1);
	font-weight: normal;
}

a {
	text-decoration: none;
}

p, ul, figure {
	@include rem-fallback(margin, $scale-0, 0, 0);
}

.lead .p-adr {
	display: block;
}

.image-changer li {
	display: inline-block;
}
.slide-link {
	display: inline-block;
	@include rem-fallback(margin-right, $scale-0);
		border-bottom: 1px solid transparent;
	&:hover {
		cursor: pointer;
		border-bottom-color: #ccc;
	}
	&.current {
		border-bottom-color: #888;
	}
}

label.invalid,
.msg {
	@include rem-fallback(margin, $scale-0, 0, 0);
	display: block;
	@include rem-fallback(padding, $scale-n7, $scale-n7, $scale-n7);
	font-weight: normal;
}

/* end @type */

/* @colours -------------------------------------------------------------- */

$text-base: #222;

$background: #f8f8f8;

$primary: #666;

$discrete: #888;

$contrast: #9b8f8f;

$grey-0: #fff;
$grey-1: #f4f4f4;
$grey-2: #ddd;
$grey-3: #ccc;
$grey-4: #bbb;
$grey-5: #aaa;

$alert: #e78c52;
$success: #9aab44;

/* off-black text */
body, select, input, textarea {color: #222;}

/* remove text-shadow from section */
::-moz-selection{background: #ddd; color: #222; text-shadow: none;}
::selection {background: #ddd; color: #222; text-shadow: none;}

/*  set touch-screen highlight colour */
a:link {-webkit-tap-highlight-color: #ddd;}

ins {background-color: #ddd; color: #222; text-decoration: none;}
mark {background-color: #ddd; color: #222; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {color:#888;}
textarea:-moz-placeholder {color:#888;}

body {
	color: $text-base;
	background-color: $background;
}

a {
	color: $primary;
	&:hover,
	&:focus {
		color: darken($primary, 20%);
	}
	&:active {

	}
}

#our-work {
	background-color: $grey-0;
}

.flexslider {
	.next, .previous {
		color: $grey-1;
		background-color: $primary;
	}
}

input,
textarea,
button {
	color: darken($text-base, 30%);
	border-color: $grey-5;
	background-color: white;
	&:focus {
		border-color: darken($grey-5, 30%);
	}
}

.contact-form {
	background-color: $grey-1;
}

.checkbox-list {
	.checkbox-checked {
		color: darken($text-base, 30%);
	}
}
.form-addition .checkbox-checked {
	color: lighten($text-base, 30%);
}

.discrete {
	color: $discrete;
}

label.invalid {
	background-color: $alert;
}
.processing {
	background-color: $grey-2;
}
.success {
	background-color: $success;
}
input.invalid,
textarea.invalid {
	border-color: $alert;
}

/* end @colours */

/* @forms -------------------------------------------------------------- */

/* toggled state */

fieldset {
	display: block;
}
	/* restyle checkboxes for supported browsers */
	fieldset:not(#foo) > label + input[type="checkbox"] {
	    opacity: 0;
	    height: 0;
	    margin: 0;
	    border-width: 0 !important;
	}
	fieldset:not(#foo) > .checkbox {
		@include rem-fallback(padding-right, $scale-2);
	    background: url('/assets/off.png') right 0.35rem no-repeat;
	    -webkit-transition: color .3s ease;
		-moz-transition: color .3s ease;
		transition: color .3s ease;
	}
	fieldset:not(#foo) > .checkbox-checked {
	    background-image: url('/assets/check.png');
	}
label,
input,
textarea,
button {
	display: block;
}

input,
textarea,
button {
	@include rem-fallback(margin, $scale-n7, 0);
	@include rem-fallback(padding, $scale-n7, $scale-n7);
	width: 100%;
	border-radius: 0;
	@include rem-fallback(border-width, $scale-n13);
	border-style: solid;
	font-family: $sans-stack;
	@include rem-fallback(font-size, $scale-0);
	letter-spacing: $scale-n5;
	letter-spacing: $scale-n13;
	vertical-align: middle;
	-webkit-appearance: none;
}

.button {
	@include rem-fallback(margin-top, $scale-3);
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover,
	&:focus {
		background: green;
	}
	&:active {
		background: blue;
	}
}

label {
	@include rem-fallback(margin, $scale-0, 0, 0);
}
legend {
	font-family: $serif-stack;
	@include rem-fallback(margin, $scale-0, 0, 0);
}
.textarea {
	width: 100%;
}
.checkbox {
	display: inline-block;
    margin: 0;
}
.checkbox + input[type="checkbox"] {
	display: inline-block;
	width: 2rem;
	overflow: visible;
}
.checkbox-list {
	clear: both;
	float: none;
	@include rem-fallback(margin, $scale-0, 0);
	label:first-of-type {
		@include rem-fallback(margin-top, $scale-n4);
	}
	.checkbox {
		@include rem-fallback(margin, $scale-n7, 0, 0);
		display: block;
		float: left;
		clear: left;
		@include rem-fallback(padding, $scale-n7, 0);
		@include rem-fallback(width, $scale-13);
	}
	.checkbox + input[type="checkbox"] {
		display: block;
		float: left;
		clear: right;
	}
}
fieldset.checkbox-list:not(#foo) {
	.checkbox {
		background: url('/assets/off.png') right center no-repeat;
	}
	.checkbox-checked {
	    background-image: url('/assets/check.png');
	    font-weight: bold;
	}
}
.form-additional {
	@include rem-fallback(padding-top, $scale-1);
	div {
		-webkit-transition: opacity .3s ease;
		-moz-transition: opacity .3s ease;
		transition: opacity .3s ease;
	}
}
.display-hide {
	opacity: 0;
	height: 0;
	display: none;
}
.display-more {
	opacity: 1;
	height: auto;
	display: block;
}
#contact-processing,
#contact-success,
#contact-alert {
	@include rem-fallback(margin-top, $scale-3);
	display: none;
}

/* .no-js, don't show addition form fields... keep it simple. */
.no-js .form-additional {
	display: none;
}

/* @layout -------------------------------------------------------------- */

.site-header,
.main {
	@include rem-fallback(padding, $scale-3, $scale-0);
}

#our-approach {
		@include rem-fallback(margin-top, $scale-5);
}

.principle {
	margin: 0;
	h3 {
		margin-top: 0;
		@include rem-fallback(padding-top, $scale-2)
	}
	+ .principle {
		margin-top: 0;
		+ .principle {
			@include rem-fallback(padding-bottom, $scale-3);
		}
	}
}

.flexslider {
	.flex-viewport {
		height: 0;
		padding-bottom: 48.616%;
	}
	.next, .previous {
		display: inline-block;
		@include rem-fallback(min-width, 10);
		@include rem-fallback(margin-top, $scale-0);
		@include rem-fallback(padding, $scale-n2, $scale-0);
		text-align: center;
	}
	.next {
		float: right;
		clear: right;
		@include rem-fallback(margin-left, $scale-n7);
	}
	.previous {
		float: left;
		clear: left;
		@include rem-fallback(margin-right, $scale-n7);
	}
}

form.main.contact-form {
	@include rem-fallback(padding-bottom, $scale-5);
}

/* tools */

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

/* end @layout */

/* @mq */

/* 64em --------------------------------------------------------------  */
@media screen and (min-width: 64em) {

	/* @type 64em */

	img.logo {
		@include rem-fallback(margin-top, $scale-6);
		@include rem-fallback(margin-left, $scale-n7);
		@include rem-fallback(max-width, 8.6);
	}

	h1.logo {
		@include rem-fallback(margin, $scale-n1, 0, $scale-n1, -$scale-n7);
		@include rem-fallback(font-size, $scale-6);
		font-weight: 400;
	}

	.distinct {
		@include rem-fallback(font-size, $scale-2);
		@include rem-fallback(line-height, $scale-3);
	}

	.principle {
		@include rem-fallback(font-size, $scale-1);
	}

	/* end @type 64em */

	/* @colours 64em */

	.project-info {
		background-color: rgba(255,255,255,0.666);
	}

	/* end @colours 64em */

	/* @layout 64em */

	.site-header,
	.flexslider {
		@include rem-fallback(padding-top, $scale-3);
		padding-left: 5%;
		padding-right: 5%;
		figure {
			margin-top: 0;
		}
	}

	.main {
		@include rem-fallback(padding, $scale-6, 0, $scale-7);
	}

	h2 {
		margin-left: 5%;
		@include rem-fallback(margin-bottom, $scale-3);
	}

	.our-approach {
		padding-left: 5%;
		padding-right: 5%;
		.principle {
			display: inline-block;
			padding-left: 5%/90%*100%;
			width: 28.333%/90%*100%;
			vertical-align: top;
		}
	}

	.our-work .hentry {
		.photo {
			float: left;
			clear: left;
			width: 64.813%;
			img {
				width: 100%;
			}
		}
		.project-info {
			position: absolute;
			left: 61.667%;
			height: 9999px;
			padding-left: 5%;
			padding-right: 5%;
			width: 33.333%;
		}
		.image-changer {
			@include rem-fallback(margin-top, $scale-0);
		}
	}

	/* end @layout 64em */

}

/* @retina */

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	/* @forms retina */

	fieldset.checkbox-list:not(#foo) {
		.checkbox {
			background-image: url('/assets/off-retina.png');
			background-size: 50% auto;
		}
		.checkbox-checked {
		    background-image: url('/assets/check-retina.png');
		    background-size: 50% auto;
		}
	}

	/* end @forms retina */

}

/* end @retina */