/*
collagraph.com.au stylesheet v1.0

by Luke Bacon and Robert Irish

web: http://collagraph.com.au
email: info@collagraph.com.au
twitter: @_collagraph
*/

@import "reset";

// @import "flexslider";

@import "mixins";

/* natural box layout */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.chromeframe {position: absolute; top: 0;}

/* @scale -------------------------------------------------------------- */

/*
	http://modularscale.com/scale/?px1=17&px2=23&ra1=1.5&ra2=0

	17px @ 1:1.5
	23px @ 1:1.5
*/

$scale-20: 61.27; /* 980.315px */
$scale-19: 55.263; /* 884.204px */
$scale-18: 40.846; /* 653.543px */
$scale-17: 36.842; /* 589.469px */
$scale-16: 27.231; /* 435.695px */
$scale-15: 24.561; /* 392.979px */
$scale-14: 18.154; /* 290.463px */
$scale-13: 16.374; /* 261.986px */
$scale-12: 12.103; /* 193.642px */
$scale-11: 10.916; /* 174.657px */
$scale-10: 8.086; /* 129.095px */
$scale-9: 7.277; /* 116.438px */
$scale-8: 5.379; /* 86.063px */
$scale-7: 4.852; /* 77.625px */
$scale-6: 3.586; /* 57.375px */
$scale-5: 3.234; /* 51.750px */
$scale-4: 2.391; /* 38.250px */
$scale-3: 2.156; /* 34.500px */
$scale-2: 1.594; /* 25.500px */
$scale-1: 1.438; /* 23.000px */
$scale-0: 1.063; /* 17.000px */
$scale-n1: 0.958; /* 15.333px */
$scale-n2: 0.708; /* 11.333px */
$scale-n3: 0.639; /* 10.222px */
$scale-n4: 0.472; /* 7.555px */
$scale-n5: 0.426; /* 6.815px */
$scale-n6: 0.315; /* 5.037px */
$scale-n7: 0.284; /* 4.543px */
$scale-n8: 0.21; /* 3.358px */
$scale-n9: 0.189; /* 3.029px */
$scale-n10: 0.14; /* 2.239px */
$scale-n11: 0.126; /* 2.019px */
$scale-n12: 0.093; /* 1.493px */
$scale-n13: 0.084; /* 1.346px */

/* end @scale */

/* @type -------------------------------------------------------------- */

$sans-stack:  "ff-meta-web-pro", "open sans", sans-serif ;
$serif-stack:  "ff-meta-serif-web-pro", georgia;

body {
	font-family: $sans-stack;
	@include rem-fallback(font-size, $scale-0);
	line-height: 1.663;
}

legend,
.about p,
.project-info {
	font-family: $serif-stack;
}

h1,
h2,
h3,
.about p:first-of-type {
	line-height: 1.358;
}

a {
	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
	}
}


.site-header .lede {
		font-family: $sans-stack;
}

.distinct {
	@include rem-fallback(font-size, $scale-1);
}

.discrete {
	@include rem-fallback(font-size, $scale-n1);
}

.details {
	@include rem-fallback(margin-top, $scale-3);
	@include rem-fallback(font-size, $scale-0);
	letter-spacing: 1px;
}

.lede .p-adr {
	display: block;
}

h2 {
	@include rem-fallback(padding-top, $scale-4);
	@include rem-fallback(padding-bottom, $scale-4);
	@include rem-fallback(font-size, $scale-0);
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	@include rem-fallback(font-size, $scale-2);
	@include rem-fallback(margin-top, $scale-1);
	font-weight: normal;
	font-family: $serif-stack;
}

a {
	text-decoration: none;
}

p,
ul,
figure {
	@include rem-fallback(margin, $scale-2, 0, 0);
}

.project-changer {
	display: none;
	@include rem-fallback(font-size, $scale-0);
	line-height: 2;
	text-align: center;
	@include rem-fallback(margin-left, -6.25);
	@include rem-fallback(width, 12.5);
	position: relative;
	left: 50%;
	@include rem-fallback(bottom, $scale-7);
}

.project-changer li {
	display: inline-block;
	&:last-child .project-link {
		margin-right: 0;
	}
}

label.invalid,
.msg {
	@include rem-fallback(margin, $scale-0, 0, 0);
	display: block;
	@include rem-fallback(padding, $scale-n7, $scale-n7, $scale-n7);
	font-weight: normal;
}

.top-link {
	display: block;
	text-align: center;
	@include rem-fallback( padding, $scale-0, 0);
}

/* end @type */

/* @colours -------------------------------------------------------------- */

$text-base: #222;

$background: #fcfcfc;

$primary: #666;

$discreet: #888;

$contrast: #9b8f8f;

$grey-0: #fff;
$grey-1: #f0f0f0;
$grey-2: #ddd;
$grey-3: #ccc;
$grey-4: #bbb;
$grey-5: #aaa;

$alert: #e78c52;
$success: #9aab44;
$submit: #3678b6;

/* off-black text */
body, select, input, textarea { color: $text-base; }

/* remove text-shadow from section */
::-moz-selection {
	background: $grey-1;
	color: $text-base;
	text-shadow: none;
}

::selection {
	background: $grey-1;
	color: $text-base;
	text-shadow: none;
}

/*  set touch-screen highlight colour */
a:link {
	-webkit-tap-highlight-color: $grey-1;
}

ins {
	background-color: $grey-1;
	color: $text-base;
	text-decoration: none;
}

mark {
	background-color: $grey-1;
	color: $text-base;
	font-style: italic;
	font-weight: bold;
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
	color: $discreet;
}

textarea:-moz-placeholder {
	color: $discreet;
}

body {
	color: $text-base;
	background-color: $background;
}

a {
	color: $submit;
	&:hover,
	&:focus {
		color: darken($submit, 10%);
	}
	&:active {
		color: darken($submit, 20%);
	}
}

.about, .contact-form {
	background-color: $grey-1;
}

.portfolio {
	background-color: $grey-0;
}

.flexslider {
	.next, .previous {
		color: $grey-1;
		background-color: $primary;
	}
}

input,
textarea,
button {
	color: darken($text-base, 30%);
	border-color: $grey-5;
	background-color: $grey-0;
	&:focus {
		border-color: darken($grey-5, 30%);
	}
}

.project-link {
	color: $grey-1;
	@include rem-fallback(border-width, $scale-n11);
	border-style: solid;
	border-color: darken($submit, 20%);
	&:hover {
		color: $grey-1;
		background-color: darken($submit, 20%);
	}
	&.current {
		color: $grey-1;
		background-color: $submit;
		border-color: $submit;
	}
}

.checkbox-list {
	.checkbox-checked {
		color: darken($text-base, 30%);
	}
}

.form-addition .checkbox-checked {
	color: lighten($text-base, 30%);
}

.discrete {
	color: $discreet;
}

label.invalid {
	background-color: $alert;
}

.processing {
	background-color: $grey-2;
}

.success {
	background-color: $success;
}

input.invalid,
textarea.invalid {
	border-color: $alert;
}

.top-link {
	opacity: .8;
	transition: all .3s ease;
	&:hover,
	&:focus {
		opacity: 1;
		background-color: $grey-2;
	}
}

/* end @colours */

/* @forms -------------------------------------------------------------- */

/* toggled state */
fieldset {
	display: block;
}

/* restyle checkboxes for supported browsers */
fieldset:not(#foo) > label + input[type="checkbox"] {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

fieldset:not(#foo) > .checkbox {
	@include rem-fallback(padding-right, $scale-2);
    background: url('/assets/off.png') right .4em no-repeat;
    -webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	transition: color .3s ease;
}

fieldset:not(#foo) > .checkbox-checked {
    background-image: url('/assets/check.png');
}

label,
input,
textarea,
button {
	display: block;
}

input,
textarea,
button {
	@include rem-fallback(margin, $scale-n7, 0);
	@include rem-fallback(padding, $scale-n7, $scale-n7);
	width: 100%;
	border-radius: 0;
	@include rem-fallback(border-width, $scale-n13);
	border-style: solid;
	font-family: $sans-stack;
	@include rem-fallback(font-size, $scale-0);
	@include rem-fallback(letter-spacing, $scale-n5);
	letter-spacing: 1px;
	vertical-align: middle;
	-webkit-appearance: none;
}

input, textarea {
	@include rem-fallback(padding, $scale-n2);
}

.button-container {
	@include rem-fallback(padding-top, $scale-2);
}

.button {
	@include rem-fallback(padding, $scale-n4);
	border: none;
	letter-spacing: 1px;
	color: $grey-0;
	background-color: $submit;
	&:hover,
	&:focus {
		background-color: darken($submit, 5%);
	}
	&:active {
		background: darken($submit, 10%);
	}
}

label {
	@include rem-fallback(margin, $scale-0, 0, 0);
}

legend {
	font-family: $serif-stack;
}

.textarea {
	width: 100%;
}

.checkbox {
	display: inline-block;
    margin: 0;
}

.checkbox + input[type="checkbox"] {
	display: inline-block;
	width: 2rem;
	overflow: visible;
}

.checkbox-list {
	clear: both;
	float: none;
	@include rem-fallback(margin, $scale-0, 0);
	label:first-of-type {
		@include rem-fallback(margin-top, $scale-n4);
	}
	.checkbox {
		@include rem-fallback(margin, $scale-n7, 0, 0);
		display: block;
		float: left;
		clear: left;
		@include rem-fallback(padding, $scale-n7, 0);
		@include rem-fallback(width, 20);
	}
	.checkbox + input[type="checkbox"] {
		display: block;
		float: left;
		clear: right;
	}
}

fieldset.checkbox-list:not(#foo) {
	.checkbox {
		background: url('/assets/off.png') right center no-repeat;
	}
	.checkbox-checked {
	    background-image: url('/assets/check.png');
	    font-weight: bold;
	}
}

.form-additional {
	@include rem-fallback(padding-top, $scale-0);
	div {
		-webkit-transition: opacity .3s ease;
		-moz-transition: opacity .3s ease;
		transition: opacity .3s ease;
	}
	label {
		display: block;
	}
}

.display-hide {
	opacity: 0;
	height: 0;
	display: none;
}

.display-more {
	opacity: 1;
	height: auto;
	display: block;
}

#contact-processing,
#contact-success,
#contact-alert {
	@include rem-fallback(margin-top, $scale-3);
	display: none;
}

/* .no-js, don't show addition form fields... keep it simple. */
.no-js .form-additional {
	display: none;
}

/* @layout -------------------------------------------------------------- */

.site-header {
	@include rem-fallback(padding, $scale-8, $scale-0);
}

nav.primary {
	display: none;
}

.logo {
	display: inline-block;
	max-width: 66.666%;
	@include rem-fallback(min-width, $scale-12);
}

.legend {
	@include rem-fallback(margin, $scale-0, 0, 0);
}

.main {
	@include rem-fallback(padding-left, $scale-0);
	@include rem-fallback(padding-right, $scale-0);
}

.about p:first-of-type {
	margin-top: 0;
}

.main,
.portfolio {
	@include rem-fallback(padding-bottom, $scale-6);
}

.portfolio {
	h2,
	.project-info {
		@include rem-fallback(padding-left, $scale-0);
		@include rem-fallback(padding-right, $scale-0);
	}
	.project-info {
		// @include rem-fallback(margin-top, -$scale-7);
		@include rem-fallback(padding-top, $scale-0);
		h3 {
			margin-top: 0;
		}
	}
	.entry-summary P:first-of-type {
		margin-top: 0;
	}
	.image-changer {
		@include rem-fallback(margin, $scale-0, 0);
			li {
			display: inline-block;
			@include rem-fallback(margin-right, $scale-0);
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.no-js {
		.image-changer,
		.project-changer {
			display: none;
		}
	}
}

.slide-link {
	text-indent: -9999em;
	overflow: hidden;
	display: inline-block;
	@include rem-fallback(width, 3);
	@include rem-fallback(height, 3);
	border-radius: 50%;
	&.small-screen {
		background: url('/assets/phone-icon-blue.png') center center no-repeat;
		&.current, &:hover, &:focus {
			background-image: url('/assets/phone-icon.png');
		}
	}
	&.medium-screen {
		background: url('/assets/tablet-icon-blue.png') center center no-repeat;
		&.current, &:hover, &:focus {
			background-image: url('/assets/tablet-icon.png');
		}
	}
	&.large-screen {
		background: url('/assets/desktop-icon-blue.png') center center no-repeat;
		&.current, &:hover, &:focus {
			background-image: url('/assets/desktop-icon.png');
		}
	}
	&.current {
		background-color: $submit;
	}
	&:hover, &:focus {
		cursor: pointer;
		background-color: darken($submit, 20%);
	}
}

.flexslider {
	.slides,
	figure {
		margin-top: 0;
		@include rem-fallback(padding-bottom, -0.625);
	}
	.next, .previous {
		display: inline-block;
		@include rem-fallback(min-width, 10);
		@include rem-fallback(margin-top, $scale-0);
		@include rem-fallback(padding, $scale-n2, $scale-0);
		text-align: center;
	}
	.next {
		float: right;
		clear: right;
		@include rem-fallback(margin-left, $scale-n7);
	}
	.previous {
		float: left;
		clear: left;
		@include rem-fallback(margin-right, $scale-n7);
	}
}

.project-link {
	@include rem-fallback(height, $scale-4);
	@include rem-fallback(width, $scale-4);
	display: block;
	border-radius: 50%;
}

.main.contact-form {
	h2 {
		@include rem-fallback(padding-bottom, $scale-3);
	}
	.lede {
		@include rem-fallback(font-size, $scale-2);
		p:first-of-type {
			margin-top: 0;
		}
	}
	.lede p + p {
		margin-top: 0;
		@include rem-fallback(font-size, $scale-0);
	}
	fieldset {
		margin: 0;
	}
}

/* tools */

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* end @layout */

/* @mq */

/* 30em & up -------------------------------------------------------------- */

@media screen and (min-width: 30em) {

	/* @layout 30em */

	.site-header,
	.main {
		padding-left: 10%;
		padding-right: 10%;
	}

	.portfolio {
		h2,
		.project-info {
			padding-left: 10%;
			padding-right: 10%;
		}
	}

	.project-info {
		// @include rem-fallback(margin-top, -$scale-8);
	}

	.project-changer {
		@include rem-fallback(bottom, $scale-8);
	}

	/* end @layout 30em */

	/* @forms 30em */

	.form-additional label {
		display: inline-block;
	}

	/* end @forms 30em */

}

@media screen and (min-width: 42em) {

	/* @type 42em */

	h2 {
		@include rem-fallback(padding-top, $scale-8);
		@include rem-fallback(padding-bottom, $scale-6);
	}

	h3 {
		@include rem-fallback(font-size, $scale-3);
	}

	.distinct {
		@include rem-fallback(font-size, $scale-2);
	}

	.details {
		@include rem-fallback(font-size, $scale-2);
	}

	.about {
		p {
			@include rem-fallback(font-size, $scale-3);
		}
		p + p {
			@include rem-fallback(font-size, $scale-1);
		}
	}

	.project-info {
		@include rem-fallback(font-size, $scale-1);
	}

	.main.contact-form {
		@include rem-fallback(font-size, $scale-1);
		.lede {
			@include rem-fallback(font-size, $scale-5);
		}
		.lede p + p {
			@include rem-fallback(font-size, $scale-3);
		}
		input, textarea, button {
			@include rem-fallback(font-size, $scale-1);
		}
		.additional-questions {
			@include rem-fallback(font-size, $scale-0);
		}
	}

	/* end @type 42em */

	/* @layout 42em */

	.logo {
		display: inline-block;
		max-width: 50%;
		padding-right: 2.5%;
		@include rem-fallback(min-width, $scale-12);
	}

	.main,
	.portfolio {
		@include rem-fallback(padding-bottom, $scale-10);
	}

	.portfolio {
		.image-changer {
			@include rem-fallback(margin, $scale-2, 0);
		}
		.project-info {
			@include rem-fallback(padding-top, $scale-4);
		}
	}

	.main.contact-form {
		@include rem-fallback(padding-bottom, $scale-8);
	}

	/* end @layout 42em */

}

/* 64em -------------------------------------------------------------- */

@media screen and (min-width: 64em) {

	/* @type 64em */

	h3 {
		@include rem-fallback(font-size, $scale-3);
	}

	nav.primary a {
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.about {
		p {
			@include rem-fallback(font-size, $scale-3);
		}
		p + p {
			@include rem-fallback(font-size, $scale-1);
		}
	}

	.project-info {
		@include rem-fallback(font-size, $scale-0);
		h3 {
			@include rem-fallback(font-size, $scale-3);
		}
	}

	.view-project {
		@include rem-fallback(font-size, $scale-0);
		&:hover, &:focus {
			text-decoration: none;
		}
	}

	.main.contact-form {
		h2 {
			@include rem-fallback(padding-bottom, $scale-5);
		}
		.lede {
			@include rem-fallback(font-size, $scale-6);
		}
		.lede p + p {
			@include rem-fallback(font-size, $scale-3);
		}
	}

	/* end @type 64em */

	/* @colours 64em */

	nav.primary a {
		color: $primary;
		&:hover, &:focus {
			color: $grey-5;
			text-decoration: none;
		}
	}

	.view-project {
		color: $grey-5;
		background-color: rgba(0,0,0,0.25);
		&:hover, &:focus {
			color: $grey-3;
		}
		&:active {
			color: $submit;
		}
	}

	/* end @colours 64em */

	/* @layout 64em */

	.site-header {
		@include rem-fallback(padding-top, $scale-11);
		@include rem-fallback(padding-bottom, $scale-11);
		padding-left: 10%;
		padding-right: 10%;
	}

	.logo {
		@include rem-fallback(margin-left, -$scale-n8);
		width: 23.333%/80%*100%;
		max-width: 100%;
	}

	nav.primary {
		display: block;
		float: right;
		clear: right;
		padding-right: 10%;
		@include rem-fallback(height, 13.257);
		ul {
			margin-top: 0;
			@include rem-fallback(padding, $scale-8 - $scale-0, 0, $scale-8);
		}
		li {
			float: left;
			a {
				display: block;
				@include rem-fallback(margin, 0, $scale-0);
				@include rem-fallback(padding, $scale-0, 0);
			}
			&:first-child a {
				margin-left: 0;
			}
			&:last-child a {
				margin-right: 0;
			}
		}
	}

	.flexslider {
		.flex-viewport {
			height: 0;
			padding-bottom: 56.25%;
		}
	}

	.about {
		p {
			width: 100%;
		}
	}

	.portfolio {
		color: $grey-1;
		h2 {
			position: absolute;
			z-index: 1000;
		}
		padding-bottom: 0;
		.hentry {
			position: relative;
			overflow: hidden;
			.photo {
				float: left;
				clear: left;
				width: 100%;
				img {
					width: 100%;
				}
			}
		}
		.project-info {
			position: absolute;
			left: 45%;
			@include rem-fallback(bottom, $scale-6);
			margin-top: 0;
			padding-top: 0;
			padding-left: 7.5%;
			padding-right: 5%;
			width: 50%;
		}
		.image-changer {
			@include rem-fallback(margin, $scale-0, 0);
		}
	}

	.project-changer {
		position: absolute;
		@include rem-fallback(bottom, $scale-4);
	}

	.slide-link {
		&.small-screen {
			background-image: url('/assets/phone-icon.png');
		}
		&.medium-screen {
			background-image: url('/assets/tablet-icon.png');
		}
		&.large-screen {
			background-image: url('/assets/desktop-icon.png');
		}
	}

	.view-project {
		float: right;
		clear: right;
		display: inline-block;
		@include rem-fallback(margin-top, $scale-n4);
		@include rem-fallback(padding, $scale-n4, $scale-n2);
	}

	.main.contact-form {
		.short-input {
			width: 23.333%/80%*100%;
			@include rem-fallback(padding-top, $scale-2);
		}
		div.short-input {
			display: inline-block;
			float: left;
			clear: left;
			fieldset {
				label {
					@include rem-fallback(margin-top, 1.1);
				}
				&:first-child label {
					@include rem-fallback(margin-top, $scale-0);
				}
			}
		}
		.long-input {
			display: inline-block;
			float: right;
			clear: right;
			width: 51.666%/80%*100%;
			@include rem-fallback(padding-top, $scale-2);
		}
		.additional-questions {
			clear: both;
			@include rem-fallback(font-size, $scale-0);
			@include rem-fallback(padding-top, $scale-2);
			.short-input {
				float: left;
				width: 28.333%/80%*100%;
				padding-right: 5%/80%*100%;
				&:last-of-type {
					width: 23.333%/80%*100%;
					padding-right: 0;
				}
				input {
					@include rem-fallback(margin-top, $scale-n4);
				}
			}
		}
		.button-container {
			clear: right;
			@include rem-fallback(padding-top, $scale-6);
		}
		.button {
			float: right;
			clear: right;
			width: 23.333%/80%*100%;
		}
	}

	/* end @layout 64em */

	/* @forms 64em */



	/* end @forms 64em */

}

/* 80em -------------------------------------------------------------- */

@media screen and (min-width: 84em) {


	/* @type 80em */

	h3 {
		@include rem-fallback(font-size, $scale-4);
	}

	.about {
		p {
			@include rem-fallback(font-size, $scale-4);
		}
	}

	.project-info {
		h3 {
			@include rem-fallback(font-size, $scale-4);
		}
	}

	.portfolio .project-info {
		@include rem-fallback(font-size, $scale-1);
	}

	.main.contact-form {
		.lede p + p {
			@include rem-fallback(font-size, $scale-4);
		}
	}

	/* end @type 80em */

	/* @layout 80em */

	body {
		margin: 0 auto;
		max-width: 105em;
	}

	.about {
		p {
			width: 51.666%/80%*100%;
		}
		p + p {
			width: 50%;
			padding-right: 2.5%;
		}
	}

	.view-project {
		@include rem-fallback(padding, $scale-n2, $scale-0);
	}

	.portfolio {
		.project-info {
			@include rem-fallback(bottom, $scale-8);
		}
		.image-changer {
			@include rem-fallback(margin, $scale-2, 0);
		}
}

	.project-changer {
		@include rem-fallback(bottom, $scale-6);
	}

	/* end @layout 80em */

}

/* @retina -------------------------------------------------------------- */

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	/* @layout retina */

	.project-info .slide-link {
		&.small-screen {
			background-image: url('/assets/phone-icon-blue-retina.png');
			background-size: 50% auto;
			&.current, &:hover, &:focus {
				background-image: url('/assets/phone-icon-retina.png');
			}
		}
		&.medium-screen {
			background-image: url('/assets/tablet-icon-blue-retina.png');
			background-size: 50% auto;
			&.current, &:hover, &:focus {
				background-image: url('/assets/tablet-icon-retina.png');
			}
		}
		&.large-screen {
			background-image: url('/assets/desktop-icon-blue-retina.png');
			background-size: 50% auto;
			&.current, &:hover, &:focus {
				background-image: url('/assets/desktop-icon-retina.png');
			}
		}
	}

	/* end @layout retina */

	/* @forms retina */

	fieldset.checkbox-list:not(#foo) {
		.checkbox {
			background-image: url('/assets/off-retina.png') !important;
			background-size: 50% auto;
		}
		.checkbox-checked {
		    background-image: url('/assets/check-retina.png') !important;
		    background-size: 50% auto;
		}
	}

	/* end @forms retina */

}

@media screen and (min-width: 64em) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

	/* @layout retina 64em */

	.project-info .slide-link {
		&.small-screen {
			background-image: url('/assets/phone-icon-retina.png');
			background-size: 50% auto;
		}
		&.medium-screen {
			background-image: url('/assets/tablet-icon-retina.png');
			background-size: 50% auto;
		}
		&.large-screen {
			background-image: url('/assets/desktop-icon-retina.png');
			background-size: 50% auto;
		}
	}

	/* end @layout retina 64em */

}

/* end @retina */