---
layout: default
title: Home
---

{% include header.html %}

{% include portfolio.html %}

<!-- @our-approach -->
<section id="our-approach" class="our-approach main clearfix">

	<h2>About us</h2>
	
	<p class="distinct">Collagraph is a digital design partnership founded by Robert Irish and Luke Bacon. We design and build websites that make an impact.</p>
	
	<p>Good design is focused. We help clients define and zero-in on their specific challenges and opportunities, then build websites with distinctive design and solid infrastructure that put them in control of their online presence.</p>
	
	<p>Our design communicates your message to the people who matter, so that the value you offer is clear.</p>
	
	<p>We’re passionate about contemporary best-practices, precise usability and open source technology so that you don’t have to be. We put clients in-front of their audience’s changing needs, optimising content for access from phones, tablets and desktops in an evermore networked, social web.</p>	

<!-- 	<a href="#contact" class="button scroll">Contact us</a> -->
	
</section>
<!-- end @our-approach -->

{% include form-contact.html %}