/*
collagraph.com.au stylesheet
Version 1.0
*/


@import "reset";


/* Natural box layout */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.chromeframe {position: absolute; top: 0;}

/* Off-black text */
body, select, input, textarea {color: #444;}

/* Remove text-shadow from section */
::-moz-selection{background: #ddd; color: #222; text-shadow: none;}
::selection {background: #ddd; color: #222; text-shadow: none;}

/*  Set touch-screen highlight colour */
a:link {-webkit-tap-highlight-color: #ddd;}

ins {background-color: #ddd; color: #222; text-decoration: none;}
mark {background-color: #ddd; color: #222; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {color:#888;}
textarea:-moz-placeholder {color:#888;}

/* Webfonts
-------------------------------------------------------------------------------*/


/* Type-scale 
-------------------------------------------------------------------------------


base	1.125rem		18px



*/

/* Type
-------------------------------------------------------------------------------*/

body {
	font-family: "ff-meta-serif-web-pro", georgia;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.7;
}

.logo, h2, h3 {
	font-family: "ff-meta-web-pro", "open sans" ;
}

	img.logo {
		margin: 2rem auto 1rem;
		max-width: 10rem;
	}
	
	h1.logo {
		font-size: 2rem;
	}

h2 {
	font-size: 1.25rem;
	text-transform: uppercase;
	margin: 1.125rem 0 0;
}

h3 {
	font-size: 1.375rem;
	margin: 1.125rem 0 0;
}

p {
	margin: 0;
}

/* Colours 
-------------------------------------------------------------------------------*/

$text-base: #333;

$background: #fafafa;

$primary: blue;

$discrete: #aaa;

$contrast: #555;

body {
	color: $text-base;
	background-color: $background;
}

a {
	color: $primary;
}


/* Layout 
-------------------------------------------------------------------------------*/

body {
	padding: 1em;
}


/* Tools
-------------------------------------------------------------------------------*/

/* Hide visually but show in screen-readers etc. */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

/* Media queries!
-------------------------------------------------------------------------------*/

/* 63.999em */
@media screen and (max-width: 63.999em) {

}
