/*
collagraph.com.au stylesheet
Version 1.0
*/


@import "reset";

@import "mixins";

/* Natural box layout */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.chromeframe {position: absolute; top: 0;}

/* Off-black text */
body, select, input, textarea {color: #444;}

/* Remove text-shadow from section */
::-moz-selection{background: #ddd; color: #222; text-shadow: none;}
::selection {background: #ddd; color: #222; text-shadow: none;}

/*  Set touch-screen highlight colour */
a:link {-webkit-tap-highlight-color: #ddd;}

ins {background-color: #ddd; color: #222; text-decoration: none;}
mark {background-color: #ddd; color: #222; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {color:#888;}
textarea:-moz-placeholder {color:#888;}

/* Webfonts
-------------------------------------------------------------------------------*/


/* Type-scale 
-------------------------------------------------------------------------------*/


/* Modular Scale
	http://modularscale.com/scale/?px1=17&px2=23&ra1=1.5&ra2=0
	---------------------
	17px @ 1:1.5	
	23px @ 1:1.5	
*/

$scale-n5	: 0.0625;		/* 1px	0.0625rem	1px			*/
$scale-n4	: 0.284;		/* n4	0.284rem	4.543px		*/
$scale-n3	: 0.472;		/* n3	0.472rem	7.55px		*/
$scale-n2	: 0.708;		/* n2	0.708rem	11.333px	*/
$scale-n1	: 0.958;		/* n1	0.958rem	15.333px	*/
$scale-0	: 1.0625;		/* base	1.0625rem	17px		*/
$scale-1	: 1.4375;		/* 1	1.4375rem	23px		*/
$scale-2 	: 1.594;		/* LH	1.594rem	25.500px	*/
$scale-3	: 2.156;		/* 3	2.156rem	34.500px	*/
$scale-4	: 3.234;		/* 4	3.234rem	51.750px	*/


/* Type
-------------------------------------------------------------------------------*/

$sans-stack:  "ff-meta-web-pro", "open sans", sans-serif ;
$serif-stack:  "ff-meta-serif-web-pro", georgia;

body {
	font-family: $sans-stack;
	@include rem-fallback(font-size, $scale-0);
	@include rem-fallback(line-height, $scale-2);
}

/* serif elements	 */
p {
	font-family: $serif-stack;
	/* overrides */
	&.lead {
		font-family: $sans-stack;
	}
}

img.logo {
	display: block;
}

h1.logo {
	@include rem-fallback(margin, $scale-0, 0, $scale-3);
	@include rem-fallback(font-size, $scale-3);
	font-weight: 400;
}
	
.distinct {
	@include rem-fallback(font-size, $scale-2);
	@include rem-fallback(line-height, $scale-3);
}

.discrete {
	@include rem-fallback(font-size, $scale-n1);
}

.details {
	@include rem-fallback(margin-top, $scale-2);
	@include rem-fallback(font-size, $scale-n1);
	letter-spacing: 1px;
	/* Image replace */
	li {
		@include rem-fallback(margin, 0, 0, $scale-n2)
	}
	i {
		text-indent: -9999em;
		display: inline-block;
		font-style: normal;
		width: 1.7rem;
		margin: 0;
		background: transparent left center no-repeat;
		&.icon-e {
			background-image: url('images/email-icon.png');
			background-size: 1em auto;
		}
		&.icon-ph {
			background-image: url('images/phone-icon.png');
			background-size: auto 1em;
		}
	}
}

#our-approach {
		@include rem-fallback(margin-top, $scale-4);
}

h2 {
	@include rem-fallback(padding-top, $scale-3);
	@include rem-fallback(font-size, $scale-0);
	text-transform: uppercase;
	letter-spacing: 1px;
}

h3 {
	@include rem-fallback(font-size, $scale-1);
	@include rem-fallback(margin, $scale-1, 0, 0, 0);
	font-weight: normal;
}

a {
	text-decoration: none;
}

p, ul, figure {
	@include rem-fallback(margin, $scale-0, 0, 0);
}

.lead .p-adr {
	display: block;
}

.slide-link {
	display: block;
	@include rem-fallback(padding, $scale-n2, 0);
	&:hover {
		cursor: pointer;
	}
	&.current {
		background-color: #ddd;
	}
}

/* Colours 
-------------------------------------------------------------------------------*/

$text-base: #333;

$background: #fafafa;

$primary: #666;

$discrete: #888;

$contrast: #9b8f8f;

$grey-1: #eee;
$grey-2: #ddd;
$grey-3: #ccc;
$grey-4: #bbb;
$grey-5: #aaa;

body {
	color: $text-base;
	background-color: $background;
}

a {
	color: $primary;
	&:hover,
	&:focus {
		color: darken($primary, 20%);
	}
	&:active {
		
	}
}

input, textarea {
	color: darken($text-base, 30%);
	border-color: $grey-5;
	background-color: white;
	&:focus {
		border-color: darken($grey-5, 30%);
	}
}

.contact-form {
	background-color: lighten($contrast, 38%);
}

.checkbox-checked {
	color: lighten($text-base, 30%);
}

.discrete {
	color: $discrete;
}


/* Forms 
-------------------------------------------------------------------------------*/

/* Toggled State */

fieldset {
	display: block;
}
	/* Restyle checkboxes for supported browsers */
	fieldset:not(#foo) > label + input[type="checkbox"] {
	    opacity: 0;
	}
	
	fieldset:not(#foo) > .checkbox {
	    margin: 0;
	    clear: none;
		@include rem-fallback( padding-right, $scale-2);
	    background: url('images/off.png') right 0.35rem no-repeat;
	    -webkit-transition: color .3s ease;
		-moz-transition: color .3s ease;
		transition: color .3s ease;
	}
	fieldset:not(#foo) > .checkbox-checked {
	    background-image: url('images/check.png');
	}
label,
input {
	display: block;
}

input, textarea {
	@include rem-fallback(margin, $scale-n4, 0);
	@include rem-fallback( padding, $scale-n3, $scale-n3);
	width: 100%;
	border-radius: none;
	@include rem-fallback(border-width, $scale-n5);
	border-style: solid;
	font-family: $sans-stack;
	letter-spacing: $scale-n5;
	vertical-align: middle;
}

label {
	@include rem-fallback(margin, $scale-0, 0, 0);
}

.textarea {
	width: 100%;
}

.form-additional {
	@include rem-fallback(padding-top, $scale-1);
	label {
		display: inline-block;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 2rem;
		overflow: visible;
	}
	div {
		-webkit-transition: opacity .3s ease; 
		-moz-transition: all .3s ease;
		transition: all .3s ease;
	}
}

.display-hide {
	display: none;
	opacity: 0;
	height: 0;
}

.display-more {
	display: block;
	opacity: 1;
	height: auto;
}

/* no-js, don't show addition form fields .. keep it simple. */
.no-js .form-additional {
	display: none;
}

/* Layout 
-------------------------------------------------------------------------------*/

.site-header,
.main {
	@include rem-fallback(padding, $scale-3, $scale-0, $scale-0);
}

.principle {
	margin: 0;
	h3 {
		margin-top: 0;
		@include rem-fallback(padding-top, $scale-2)
	}
	+ .principle {
		margin-top: 0;
		+ .principle {
			@include rem-fallback(padding-bottom, $scale-3);
		}
	}
}

form.main.contact-form {
	@include rem-fallback( padding-bottom, $scale-4);
}

/* Tools
-------------------------------------------------------------------------------*/

/* Hide visually but show in screen-readers etc. */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/* Media queries!
-------------------------------------------------------------------------------*/

/* 64em */
@media screen and (min-width: 64em) {
	
	/* Type
	-------------------------------------------------------------------------------*/
	
	img.logo {
		max-width: 11.111%;
	}
	
	h1.logo {
		@include rem-fallback(margin, $scale-0, 0, $scale-3);
		@include rem-fallback(font-size, $scale-3);
		font-weight: 400;
	}
		
	.distinct {
		@include rem-fallback(font-size, $scale-2);
		@include rem-fallback(line-height, $scale-3);
	}
	
	
	/* 64em Colours 
	-------------------------------------------------------------------------------*/
	

	/* 64em Layout 
	-------------------------------------------------------------------------------*/
	
	.site-header {	
		padding: #{$scale-3}rem 5%;
	}
	
	.main {
		@include rem-fallback(margin-top, $scale-4);
		padding: 0;
	}
	
	h2 {
		margin-left: 5%;
		margin-bottom: #{$scale-3}rem;
	}
	
	.principle {
		display: inline-block;
		margin-left: 5%;
		width: 26.666%;
		vertical-align: top;
		+ .principle + .principle {
			margin-right: 5%;
		}
	}
	
	.our-work .hentry {
		.photo {
			float: left;
			clear: left;
			width: 63.333%;
			img {
				width: 100%;
			}
		}
		.entry-title, .entry-summary {
			float: right;
			clear: right;
			margin-left: 5%;
			margin-right: 5%;
			width: 26.666%;
		}
	}
	
	
}
