/*
collagraph.com.au stylesheet
Version 1.0
*/


@import "reset";


/* Natural box layout */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.chromeframe {position: absolute; top: 0;}

/* Off-black text */
body, select, input, textarea {color: #444;}

/* Remove text-shadow from section */
::-moz-selection{background: #ddd; color: #222; text-shadow: none;}
::selection {background: #ddd; color: #222; text-shadow: none;}

/*  Set touch-screen highlight colour */
a:link {-webkit-tap-highlight-color: #ddd;}

ins {background-color: #ddd; color: #222; text-decoration: none;}
mark {background-color: #ddd; color: #222; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {color:#888;}
textarea:-moz-placeholder {color:#888;}

/* Webfonts
-------------------------------------------------------------------------------*/


/* Type-scale 
-------------------------------------------------------------------------------*/

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem-fallback($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*16}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}

/* Modular Scale
	http://modularscale.com/scale/?px1=17&px2=23&ra1=1.5&ra2=0
	---------------------
	17px @ 1:1.5	
	23px @ 1:1.5	
*/

$scale-n3	: 0.472;		/* n3	0.472rem	7.55px		*/
$scale-n2	: 0.708;		/* n2	0.708rem	11.333px	*/
$scale-n1	: 0.958;		/* n1	0.958rem	15.333px	*/
$scale-0	: 1.0625;		/* base	1.0625rem	17px		*/
$scale-1	: 1.4375;		/* 1	1.4375rem	23px		*/
$scale-2 	: 1.594;		/* LH	1.594rem	25.500px	*/
$scale-3	: 2.156;		/* 3	2.156rem	34.500px	*/
$scale-4	: 3.234;		/* 4	3.234rem	51.750px	*/


/* Type
-------------------------------------------------------------------------------*/

body {
	font-family: "ff-meta-web-pro", "open sans", sans-serif ;
	@include rem-fallback(font-size, $scale-0);
	@include rem-fallback(line-height, $scale-2);
}

/* serif elements	 */
p {
	font-family: "ff-meta-serif-web-pro", georgia;
	/* overrides */
	&.lead {
		font-family: "ff-meta-web-pro", "open sans", sans-serif ;		
	}
}

img.logo {
	display: block;
}

h1.logo {
	@include rem-fallback(margin, $scale-0, 0, $scale-3);
	@include rem-fallback(font-size, $scale-3);
	font-weight: 400;
}
	
.distinct {
	@include rem-fallback(font-size, $scale-2);
	@include rem-fallback(line-height, $scale-3);
}

.discrete {
	@include rem-fallback(font-size, $scale-n1);
}

.details {
	@include rem-fallback(margin-top, $scale-2);
	@include rem-fallback(font-size, $scale-n1);
	letter-spacing: 1px;
	/* Image replace */
	li {
		@include rem-fallback(margin, 0, 0, $scale-n2)
	}
	i {
		text-indent: -9999em;
		display: inline-block;
		font-style: normal;
		width: 1.7rem;
		margin: 0;
		background: transparent left center no-repeat;
		&.icon-e {
			background-image: url('images/email-icon.png');
			background-size: 1em auto;
		}
		&.icon-ph {
			background-image: url('images/phone-icon.png');
			background-size: auto 1em;
		}
	}
}

#our-approach {
		@include rem-fallback(margin-top, $scale-4);
}

h2 {
	@include rem-fallback(margin-top, $scale-3);
	@include rem-fallback(font-size, $scale-0);
	text-transform: uppercase;
	display: none;
}

h3 {
	@include rem-fallback(font-size, $scale-1);
	@include rem-fallback(margin, $scale-1, 0, 0, 0);
	font-weight: normal;
}

a {
	text-decoration: none;
}

p, ul, figure {
	@include rem-fallback(margin, $scale-0, 0, 0);
}

.lead .p-adr {
	display: block;
}


/* Colours 
-------------------------------------------------------------------------------*/

$text-base: #333;

$background: #fafafa;

$primary: #666;

$discrete: #888;

$contrast: #9b8f8f;

body {
	color: $text-base;
	background-color: $background;
}

a {
	color: $primary;
	&:hover,
	&:focus {
		color: darken($primary, 20%);
	}
	&:active {
		
	}
}

#our-approach {
	background-color: #eee;
	&.main {
		@include rem-fallback(padding, $scale-0, 0, 0, 0);
	}
	h2 {
		@include rem-fallback(padding, 0, $scale-0);
	}
}

.principle {
	margin: 0;
	@include rem-fallback(padding, 0, $scale-0, $scale-1);
	h3 {
		margin-top: 0;
		@include rem-fallback(padding-top, $scale-n1)
	}
	+ .principle {
		margin-top: 0;
		border-top: 2rem solid #ddd;
		background-color: #ccc;
		+ .principle {
			border-color: #bbb;
			@include rem-fallback(padding-bottom, $scale-4);
			background-color: #aaa;
		}
	}
}

#our-work {
	background-color: #2d2929;
	color: #eee;
}

.contact-form {
	background-color: lighten($contrast, 38%);
}

.discrete {
	color: $discrete;
}


/* Forms 
-------------------------------------------------------------------------------*/

/* Toggled State */

fieldset {
	display: block;
}
	/* Restyle checkboxes for supported browsers */
	fieldset:not(#foo) > label + input[type="checkbox"] {
	    opacity: 0;
	}
	fieldset:not(#foo) > label {
	    margin: 0;
	    clear: none;
	    padding-right: 1.5rem;
	    background: url('images/off-ii.png') right 0.425em no-repeat;
	}
	fieldset:not(#foo) > label.checkbox-checked {
		background-image: url('images/check-ii.png');
	}
label,
input {
	display: block;
}

label {
	@include rem-fallback(margin, $scale-0, 0, 0);
}

.textarea {
	width: 100%;
	@include rem-fallback(margin-bottom, $scale-n1);
}

.form-additional {
	label {
		display: inline-block;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 2rem;
		vertical-align: middle;
		overflow: visible;
	}
}

/* Layout 
-------------------------------------------------------------------------------*/

.site-header,
.main {
	@include rem-fallback(padding, $scale-3, $scale-0, $scale-0);
}


/* Tools
-------------------------------------------------------------------------------*/

/* Hide visually but show in screen-readers etc. */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/* Media queries!
-------------------------------------------------------------------------------*/

/* 63.999em */
@media screen and (max-width: 64em) {

}
