<!-- @form-contact -->
<form id="contact" class="contact-form main clearfix" enctype="multipart/form-data" method="post" novalidate action="https://collagraph.wufoo.com/forms/z7x4m1/#public">
		<h2>Contact</h2>
		<p>Let us know about your project</p>

		<fieldset>
			<label id="title1" for="Field1">Your name <span class="discrete">(required)</span></label>
			<input class="field" id="Field1" name="Field1" type="text" required="" name="contact-name" tabindex="1" onkeyup="" maxlength="255" />
		</fieldset>

		<fieldset>
			<label id="title2" for="Field2">Email address <span class="discrete">(required)</span></label>
			<input class="field" id="Field2" name="Field2" type="email" spellcheck="false" value="" maxlength="255" tabindex="2" required />
		</fieldset>

		<fieldset>
			<label id="title3" for="Field3">Phone number</label>
			<input class="field" id="Field3" name="Field3" tabindex="3" type="tel" maxlength="20" value="" />
		</fieldset>

		<fieldset>
			<label id="title6" for="Field6">Organisation/Company</label>
			<input class="field" id="Field6" name="Field6" type="text" value="" maxlength="255" tabindex="4" onkeyup="" />
		</fieldset>

		<fieldset class="checkbox-list">
			<legend>Service required:</legend>
			<label id="title7" for="Field7" class="checkbox">Web design</label>
				<input id="Field7" name="Field7" type="checkbox" class="field checkbox" value="Web design" tabindex="5">
			<label id="title8" for="Field8" class="checkbox">Communications strategy</label>
				<input id="Field8" name="Field8" type="checkbox" class="field checkbox" value="Communications strategy" tabindex="6">
			<label id="title9" for="Field9" class="checkbox">General information design</label>
				<input id="Field9" name="Field9" type="checkbox" class="field checkbox" value="General information design" tabindex="7">
		</fieldset>

		<fieldset>
			<label id="title107" for="Field107">How can we help? <span class="discrete">(required)</span></label>
			<textarea id="Field107" name="Field107" class="textarea field" spellcheck="true" rows="10" cols="50" tabindex="8" onkeyup="" required  ></textarea>
		</fieldset>

		<fieldset class="form-additional">
			<label for="deadline-q" id="deadline-c" class="checkbox">Does your project have a deadline?</label>
			<input class="field" type="checkbox" name="deadline-q" id="deadline-q" tabindex="9"/>
			<div id="more-deadline" class="display-hide">
				<label id="title208" for="Field208">When is the project deadline?</label>
				<input class="field" id="Field208" name="Field208" type="text" value="" maxlength="255" tabindex="9" onkeyup=""/>
			</div>
		</fieldset>

		<fieldset class="form-additional">
			<label for="budget-q" id="budget-c" class="checkbox" >Do you have a rough budget for us?</label>
			<input type="checkbox" name="budget-q" id="budget-q" tabindex="10" />
			<div id="more-budget" class="display-hide">
				<label id="title209" for="Field209">About how much is the budget?</label>
				<input class="field" id="Field209" name="Field209" type="text" value="" maxlength="255" tabindex="10" onkeyup="" />
			</div>
		</fieldset>
		<div class="visuallyhidden">
			<label for="comment">Do Not Fill This Out</label>
			<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
			<input type="hidden" id="idstamp" name="idstamp" value="eSXjQjWyVzpKLCH4frUQxXPjLJk8djyc54btnJB8rAc=" />
		</div>
		<div>
			<button id="saveForm" name="saveForm" class="button" type="submit" value="Submit" tabindex="11" >Submit</button>
			<p class="msg processing" id="contact-processing">Processing...</p>
			<p class="msg success" id="contact-success">Thanks for getting in touch. We'll be in contact shortly.</p>
		</div>
</form>
<!-- end @form-contact -->