<!-- @header -->
<header class="h-card site-header" role="banner">

    <nav class="primary clearfix">

        <ul class="clearfix">
            <li><a class="scroll" href="#our-approach">About us</a></li>
            <li><a class="scroll" href="#our-work">Our work</a></li>
            <li><a class="scroll" href="#contact">Contact us</a></li>
        </ul>

    </nav>

	<img class="logo u-logo" src="{{ site.url }}/assets/logo.png" alt="Collagraph" />

    <h1 class="logo p-name visuallyhidden">{{ site.title }}</h1>

	<p class="distinct lede p-role">Clear&nbsp;design for the web, <span class="p-adr">based in <span class="p-locality">Sydney</span>, <span class="p-country-name">Australia</span>.</span></p>

	<ul class="details">
		<li><i class="icon-e">Email: </i><a href="mailto:info@collagraph.com.au" class="u-email">info@collagraph.com.au</a></li>
		<li><i class="icon-ph">Phone: </i><a href="tel:+61406566693" class="p-tel">+61 406 566 693</a></li>
	</ul>

</header>
<!-- end @header -->