<!-- @header -->
<header class="h-card site-header" role="banner">

	<img class="logo u-logo" src="assets/temp-logo-iii.png" alt="Collagraph logo" />

	<h1 class="logo p-name">{{ site.title }}</h1>

	<p class="distinct lead p-role">Clear&nbsp;design for the web, <span class="p-adr">based in <span class="p-locality">Sydney</span>, <span class="p-country-name">Australia</span>.</span></p>
	
	<ul class="details">
		<li><i class="icon-e">Email: </i><a href="mailto:info@collagraph.com.au" class="u-email">info@collagraph.com.au</a></li>
		<li><i class="icon-ph">Phone: </i><a href="tel:+61406566693" class="p-tel">+61 406 566 693</a></li>
	</ul>
	
</header>
<!-- end @header -->