<!-- @portfolio -->
<section id="portfolio" class="portfolio clearfix">

	<h2>Our work</h2>

	<div class="flexslider">
		<ul class="slides">
			<li>
				<article id="project-1" class="hentry">
					<figure class="photo">
						<img src="{{ site.url }}/assets/portfolio/project-1/slide-1.jpg" />
					</figure>
					<div class="project-info">
						<h3 class="entry-title">Sceptical Climate Report</h3>
						<div class="entry-summary">
							<p>We worked with the Australian Centre for Independent Journalism to publish their research into how the Australian media reports on climate science.</p>

                            <p>Moving beyond the PDF, we created an accessible online publication with features like interactive data tables and user highlighting, designed to make the research more useful for their target audience.</p>

                            <p><a class="view-project" href="http://sceptical-climate.investigate.org.au" title="View the Sceptical Climate Report." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Sceptical Climate']);">View the project &rarr;</a></p>
						</div>
					</div>
				</article>
			</li>
		</ul>
	</div>
</section>
<!-- end @portfolio -->