<!-- @portfolio -->
<section id="portfolio" class="portfolio clearfix">

	<h2>Our work</h2>

	<div class="flexslider">
		<ul class="slides">
			<li>
				<article class="h-entry hentry">
					<figure class="photo">
						<img src="{{ site.url }}/assets/portfolio/sceptical-climate/sceptical-climate-001.jpg" />
					</figure>
					<div class="project-info">
						<h3 class="p-name entry-title">Sceptical Climate Report</h3>
						<div class="p-summary entry-summary">
							<p>We worked with the Australian Centre for Independent Journalism to publish their research into how the Australian media reports on climate science.</p>

                            <p>We delivered an accessible online publication with features including interactive data tables and user highlighting, designed to make the research more useful for their target audience.</p>

                            <p class="clearfix"><a class="view-project" href="http://sceptical-climate.investigate.org.au" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Sceptical Climate']);">View the project &rarr;</a></p>
						</div>
					</div>
				</article>
			</li>
		</ul>
	</div>

	<div class="portfolio-small-wrapper">
		<article class="portfolio-small h-entry hentry">
			<figure class="photo">
				<a href="http://christophercooper.com.au" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Christoper L. H. Cooper']);"><img src="{{ site.url }}/assets/portfolio/christopher-cooper/christopher-cooper-001.jpg" /></a>
			</figure>

			<h3 class="p-name entry-title"><a href="http://christophercooper.com.au" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Christoper L. H. Cooper']);">Christopher L. H. Cooper</a></h3>

			<div class="p-summary entry-summary">
				<p>Illustrator &amp; designer Christopher L. H. Cooper approached us to help rethink his approach to presenting work on the web.</p>

				<p>One of the key challenges of this project was to serve high-quality images quickly to users on all types of devices. We delivered a responsive website that conveys Chris's character and displays his work in a clean layout inspired by the strong grids found in broadsheet newspapers.</p>

				<p class="clearfix"><a class="access view-project" href="http://christophercooper.com.au" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Christoper L. H. Cooper']);">View the project &rarr;</a></p>
			</div>
		</article><!--

		--><article class="portfolio-small h-entry hentry">
			<figure class="photo">
				<a href="http://northbridgepa.com.au" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Northbridge Progress Association']);"><img src="{{ site.url }}/assets/portfolio/northbridge-progress-association/northbridge-progress-association-001.jpg" /></a>
			</figure>

			<h3 class="p-name entry-title"><a href="http://northbridgepa.com.au" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Northbridge Progress Association']);">Northbridge Progress Association</a></h3>

			<div class="p-summary entry-summary">
				<p>The NPA informs and represents local residents of Northbridge, NSW. We helped them redefine the way they deliver information to suit the shifting requirements of their community.</p>

				<p>We delivered a responsive website, a full rebranding and a tailored publishing system for local news, community events, resources on focus issues, their print newspaper and their digital newsletter.</p>

				<p class="clearfix"><a class="access view-project" href="http://northbridgepa.com.au" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Northbridge Progress Association']);">View the project &rarr;</a></p>
			</div>
		</article><!--

		--><article class="portfolio-small h-entry hentry">
			<figure class="photo">
				<a href="http://github.com/equivalentideas/independent-archive-principles" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Independent Archive Principles']);"><img src="{{ site.url }}/assets/portfolio/independent-archive-principles/independent-archive-principles-001.jpg" /></a>
			</figure>

			<h3 class="p-name entry-title"><a href="http://github.com/equivalentideas/independent-archive-principles" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Independent Archive Principles']);">Principles for Independent Archives</a></h3>

			<div class="p-summary entry-summary">
				<p>Principles for Independent Archives is an open-source project we established to share and discuss thoughts on how to build digital archives for the web.</p>

				<p>The project is a cross-disciplinary forum for exploring the possibilities of small archive projects on the web. The project has draw contributions from professional archivist, artists, journalists and web developers thus far.</p>

				<p class="clearfix"><a class="access view-project" href="http://github.com/equivalentideas/independent-archive-principles" title="View on the web." onClick="_gaq.push(['_trackEvent', 'Portfolio', 'Click link to Project', 'Independent Archive Principles']);">View the project &rarr;</a></p>
			</div>
		</article>
	</div>
</section>
<!-- end @portfolio -->